<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Uploads</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="app">

    <div class="form-section">

      <!-- Form will go here -->

    </div>

    <div class="images-section">

      <!-- Images will go here -->
      
    </div>
    
  </div>
</body>
</html>